<div class="row no-gutters first">
  <div class="col-4">
    <img src="../assets/images/logo.png" class="logo"/>
  </div>
  <div class="col-8">
    <div class="row no-gutters first">
      <div class="col-7">
          <form class="input-group fheader text-right">
              <label for="grupo-economico">Grupo Econômico: </label>
              <div class="form-group">
                  <select class="select1">
                      <option>Visão agregada 1</option>
                      <option>Visão agregada 2</option>
                      <option>Visão agregada 3</option>
                  </select>
              </div>
              <!-- rest of form -->
            </form>
      </div>
      <div class="col-5">
        <div class="input-group fheader text-right">
            <div class="input-group-prepend">
                <span class="input-group-text" id="user-icon"><i class="fa fa-user"></i></span>
            </div>
            <select class="select2">
                <option><i class="fa fa-user"></i>Sandra Oliveira</option>

            </select>
            <div class="input-group-append">
                <span class="input-group-text iright" id="basic-addon1"><i class="fa fa-bell"></i><span class="badge badge-light">4</span> </span>

            </div>

        </div>

      </div>
    </div>
  </div>
</div>
